<h3 class="ui header">{{t "forms.i-i-s-logistika-snova-баржи-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерБаржи
      class=(if (v-get validationModel "номерБаржи" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika-snova-баржи-e.номерБаржи-caption")
      data-test-i-i-s-logistika-snova-баржи-e-номерБаржи=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерБаржи" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.грузопод
      class=(if (v-get validationModel "грузопод" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika-snova-баржи-e.грузопод-caption")
      data-test-i-i-s-logistika-snova-баржи-e-грузопод=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "грузопод" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.длина
      class=(if (v-get validationModel "длина" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika-snova-баржи-e.длина-caption")
      data-test-i-i-s-logistika-snova-баржи-e-длина=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "длина" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.ширина
      class=(if (v-get validationModel "ширина" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika-snova-баржи-e.ширина-caption")
      data-test-i-i-s-logistika-snova-баржи-e-ширина=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "ширина" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.высотаБаржи
      class=(if (v-get validationModel "высотаБаржи" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika-snova-баржи-e.высотаБаржи-caption")
      data-test-i-i-s-logistika-snova-баржи-e-высотаБаржи=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "высотаБаржи" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.объемБаржи
      class=(if (v-get validationModel "объемБаржи" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika-snova-баржи-e.объемБаржи-caption")
      data-test-i-i-s-logistika-snova-баржи-e-объемБаржи=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "объемБаржи" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-logistika-snova-баржи-e.тЧРасписание-caption"}}</label>
    {{flexberry-groupedit
      componentName="тЧРасписаниеGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.тЧРасписание
      content=model.тЧРасписание
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "тЧРасписание" "isInvalid") "error")
      data-test-i-i-s-logistika-snova-баржи-e-тЧРасписание=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тЧРасписание" "message")}}
  </div>
</form>
